<section ng-controller="ActivitiesController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="activity.title"></h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right" ng-show="authentication.user._id == activity.user._id">
        <a class="btn btn-primary" ui-sref="activities.edit({activityId: activity._id})">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
  </div>
  <fieldset>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="title">Title</label>
          <input name="title" type="text" data-ng-model="activity.title" id="title" class="form-control" placeholder="Title" disabled />
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="description_short">Short description</label>
          <input type="text" name="description_short" data-ng-model="activity.description.short" id="description_short" class="form-control" placeholder="Short description" disabled />
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="description_long">Long description</label>
          <textarea name="description_long" data-ng-model="activity.description.long" id="description_long" class="form-control" cols="30" rows="10" placeholder="Long description" disabled></textarea>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Start</label>
      <div class="row">
        <div class="col-xs-6 col-md-4">
          <div class="form-group">
            <p><span>Date:</span> <em>{{activity.duration.startDate | date : 'dd-MM-yyyy'}}</em></p>
            <p><span>Hour:</span> <em>{{activity.duration.startDate | date : 'HHumm'}}</em></p>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>End</label>
      <div class="row">
        <div class="col-xs-6 col-md-4">
          <p><span>Date:</span> <em>{{activity.duration.endDate | date : 'dd-MM-yyyy'}}</em></p>
          <p><span>Hour:</span> <em>{{activity.duration.endDate | date : 'HHumm'}}</em></p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Location</label>
      <div class="row">
        <div class="form-group">
          <div class="col-xs-12 col-md-6">
            <p><span>Address:</span> <em>{{activity.address}}</em></p>
          </div>
        </div>

      </div>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-default">
    </div>
    <div data-ng-show="error" class="text-danger">
      <strong data-ng-bind="error"></strong>
    </div>
  </fieldset>
  <small>
    <em class="text-muted">
      Created on
      <span ng-bind="activity.created | date:'mediumDate'"></span>
      by
      <span ng-bind="activity.user.displayName"></span>
    </em>
  </small>
  <p class="lead" ng-bind="activity.content"></p>
</section>
